$login-btn-bg: #18384d;
$border-color: #d3d3d3;
$heading-font: "Arvo", serif;
$base-font: "Muli", sans-serif;
$sidebar-bg: #381460;
$base-bg: #ffffff;
$primary: #381460;
$table-color: #000000;
$btn-primary: #18384d;
$light-bdr: 1px solid rgba(222, 222, 222, 0.3803921568627451);
$black: #686980;
$primary-light: #ffffff;
 //need to change base-bg and primary light